BasedOnStyle: LLVM
UseTab: Always
TabWidth: 4
IndentWidth: 4

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
SpacesInLineCommentPrefix:
    Minimum: 1
    Maximum: -1
EmptyLineBeforeAccessModifier: Always
SeparateDefinitionBlocks: Leave
SpaceBeforeInheritanceColon: true
BreakInheritanceList: BeforeColon
IndentAccessModifiers: False
AccessModifierOffset: -4
